<h1>Ask your coach anything</h1>

<form action="/answer" method="get"> <!-- method is default = get -->
  <input type="text" name="question" placeholder="What do you need coaching on?">
  <input type="submit" value ="Ask!">
</form>


